<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!-- 覆盖更新（出错）最长等待时间（毫秒） -->
		<add key="EaseSvrSwitcher.MaxOverrideMs" value="20000"/>
		<!-- 覆盖更新（出错）最多重试次数 -->
		<add key="EaseSvrSwitcher.MaxTryTimes" value="20"/>
	</appSettings>
	<connectionStrings>
		<!-- 
    执行更新时，更新包中sql脚本执行的连接字符串
    sql脚本文件文件名称必须以 *.update.sql结尾。
    -->
		<add name="EaseSvrSwitcher.SqlConn" connectionString="Server=192.168.8.43;User ID=sa;Password=mimaaa;Database=ProxyServer;min pool size=100;max pool size=512;Connect Timeout=60" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
